*{
    box-sizing: content-box;
    padding: 0px;
    margin: 0px;
    font-size: 21px;
    font-family: Roboto, sans-serif;
    color: white;

}

body{
    background-image: url(img/coffee.jpg);
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 5px 100px 100px 100px;
    align-items: center;
    background-image: linear-gradient(rgb(0,0,0), rgb(0,0,0,0.8), rgb(0,0,0,0.6), rgb(0,0,0,0.4), rgb(0,0,0,0));

}
.logo{
    width: 100px;
}
li, a, button{
    text-decoration: none;
    font-weight: 700;
    color: white;
    font-size: 16px;
}

li{
    display: inline-block;
    padding: 0px 50px;
    border-right-style: solid;

}
li:last-child{
    border-right-style: none;
}

button {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 8px;
  padding: 16px 32px;
  transition-duration: 0.4s;
  cursor: pointer;

}

button:hover {
  background-color: rgb(0,0,0);
  color: white;
  border: 5px solid white;
}

.logo-link:hover img{
    transform: scale(1.2);
}

ul li a:hover {
    font-size: 20px;
}

h1{
    font-size: 32px;
}
/* home */
.hero{
    text-align: center;
    width: 800px;
    height: 550px;
    border: 3px solid grey;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 40%;
    padding: 60px 20px 0px 20px;
}
.space{
    margin-top: 50px;
}


.hero img{
    width: 400px;

}

.hero h1{
    margin-bottom: 10px;
}

/* about us */
.about{
    width: 800px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
}
.border{
    border: 3px solid grey;
    border-radius: 40px;
}
.center{
    display: block;
    margin: auto;
    align-items: center;
    text-align: center;
}

.about h1{
    margin-bottom: 20px;
    text-decoration: underline;
}
.about p{
    margin-bottom: 10px;
}

.photos{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 20px 0px;
}

.photos div img{
    width: 420px;
    overflow: hidden;
}
/* menu */
.menu{
    color: white;
    width: 800px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px 0px;
}

.heading h1{
    font-size: 32px;
    text-decoration: underline;
}
.border{
    border: 3px solid grey;
    border-radius: 40px;
}


.table{
    display: flex;
    justify-content: center;
    gap: 200px;
}

td, th {
    border-bottom: 1px outset #dddddd;
    text-align: left;
    padding: 8px;
}
td, .price{
    font-size: 18px;
    font-weight: normal;
}
th{
    width: 90%;
    font-size: 21px;
}

table{
    width: 100%;
}
/* gallery */

/* contact */
.contact {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border: 3px solid grey;
    border-radius: 40px;
    width: 50%;
    margin: auto;
  }
  
  .mapa{
    display: flex;
    justify-content: center;

  }
  .mapa iframe{
    height: 450px;  
    width: 800px;
    border: 3px solid white;
    border-radius: 30px;
    
  }
  
  .contact-info {
    text-align: center;
    margin: auto auto 20px auto;
    width: 40%;
  }
  
  .contact-info h1 {
    margin-bottom: 20px;
    font-size: 32px;
    text-decoration: underline;
  }
  
  .contact-info p {
    margin: 10px 0;
    font-style: italic;
  }

  span{
    font-size: 21px;
    font-weight: bold;
  }